/* Presets */
* {
    /* box-sizing: border-box; /* changes the way the css is understood */
    margin: 0; /* resetting the default of 8px borders */
    padding: 0;
}
body {
    font-size: 18px;
}

.greyblue {
    color:hsl(208, 11%, 55%)
}

.calltoaction {
    font-family: "Open Sans";
    font-weight: 400;
}

h1 {
    font-family: Poppins;
    font-weight: 600;
}

/* Header of page */

header {
    background-image: url("./images/bg-hero-desktop.svg");
    /* background-image: url("./images/bg-hero-mobile.svg"); <- for mobile when I do the media queries*/
    background-color: hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    background-size: cover; /* handles the width*/
    height: 100vh; /* 100% of the viewport height - so it takes the whole page */
    
    padding: 1.2rem 2rem 3rem 2rem; /* reigns in the contents of the header */
    
    /*display: flex;*/
    
    
    /*flex-wrap: wrap; /*allows us to wrap boxs to the next line for mobile devices/narrow screens*/
    /*flex-direction: column; /*set the flex boxes from top to bottom*/
}

#top {
    /* needs to be a flex box to stay propotional with one another */
    /*padding: 1%;*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#top img {
    
    
    /* Content  of the image box */
    flex-shrink: 10;
    
}

#top button {
    background-color:#fff;
    color: #000000;
    border-color: transparent;
    /* flex-shrink: 10;*/
}

#banner {
    display: flex; /* wraps to the bottom when the screen shrinks */
    align-items: center; /*align vertically*/
    justify-content: space-evenly; /*align horizontally*/

}

#intro {
    width: 40%;
}

#banner img{ /* Content  of the image box */
    width: 60%; /* relative to the container */
    
}

button {
    border-radius: 3rem; /*rounded the edges*/
    padding: 0.8rem 3rem;
    background-color:hsl(322, 100%, 66%); /*pink default*/
    color: #fff;
    border-color: transparent;
}


/* Main Body */
main {
    color: hsl(208, 11%, 55%);
    width: 80%;
    margin: 0 auto; /* centres the boxes, even when shrunk */
    padding: 5rem;
}

.container {
    /* display: flex; */
    flex: wrap; /* needed for smaller screens */
    /* height: 25rem; */
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 5rem; /* remember it's outside the border */
    border-radius: 2rem;
    box-shadow: 1rem 1rem 4rem rgb(158, 158, 158);
    
}

.container section{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container img{
    width: 20%;
}

/* Footer */
footer {
    background-color:hsl(192, 100%, 9%);
    color: whitesmoke
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}